

<!--technical requirements:
back end (java)
maven
javalin
front end
html
functional requirements: create a mini app that allows users to submit new items to a collection, then view those items. they should submit the items using a form.-->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="MiniPro.html" class="active">Calculator</a>
  <a href="PlanterInput.html">InputPlanter</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<head>
<meta charset="ISO-8859-1">
   <title>Print House Design</title>
</head>
<body>
<h1 align="center" style="background-color:rgb(94, 62, 223);">3D Printing Calculator v.01</h1>
<p style="background-color:rgb(0, 0, 128);"><br>
</p>
<form method="post" action="http://localhost:8080/MiniPro">
    <br><br><br>
    
    <label for="option">Choose Planter</label>
    <select name="planter">
        <option value="Octopus">Octopus</option>
        <option value="Large Bear">Large Bear</option>
        <option value="baby Bear">baby Bear</option>
        <option value="Fox">Fox</option>
        <option value="Batman">Batman</option>
        <option value="Yoda">Yoda</option>
        <option value="C3P0">C3P0</option>
        <option value="Darth Vader">Darth Vader</option>
        <option value="Snail">Snail</option>
    </select>
    <br><br>
    <h3></h3>    <label for="grams">Enter weight in ounces of the Spool:</label><br>
<input type="number" id="plastic" name="plastic" placeholder="weight in ounces" /><br><hr>

 <br>
    <button>Submit</button>
    <br><br><br>
    <br><br><br> 
     <br><br><br>
     <br><br><br>
      
</form>

  </body>
</html>