<!DOCTYPE html>

<!--technical requirements:
back end (java)
maven
javalin
front end
html
functional requirements: create a mini app that allows users to submit new items to a collection, then view those items. 
they should submit the items using a form.-->

<html>
<head>
<meta charset="ISO-8859-1">
<title>Print House Design
</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background-color:rgb(94, 62, 223);" class="topnav" id="myTopnav">
<h2>
  <a href="MiniPro.html" class="active">Calculator</a>
  <a href="PlanterInput.html">InputPlanter</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</h2>
</div>
<body>
<h1 align="center" style="background-color:rgb(94, 62, 223);">3D Printing Calculator v.01</h1>
<p style="background-color:rgb(0, 0, 128);"><br>
</p>








 <form method="post" action="http://localhost:8080/MiniPro">
    <h3 align="center" style="background-color:rgb(94, 62, 223);">
 
    </h3>
</form>

  </body>
</html>